[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
requests = ">=2.20.0"
urllib3 = ">=1.24.2"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
